In [34]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

In [3]:
df_disc = pd.read_csv('data/01_16_2024_13_41_aula2p_15.csv')
df_conn = pd.read_csv('data/01_16_2024_13_43_aula2p_15.csv')

In [18]:
df_disc_2p = df_disc[df_disc["name_ap"].isin(["AP-AULA2P-01", "AP-AULA2P-02", "AP-AULA2P-03", "AP-AULA2P-04"])].reset_index()
df_conn_2p = df_conn[df_conn["name_ap"].isin(["AP-AULA2P-01", "AP-AULA2P-02", "AP-AULA2P-03", "AP-AULA2P-04"])].reset_index()

In [ ]:
df_conn_2p = df_conn_2p.drop_duplicates(subset=["user_masked"])
df_disc_2p = df_disc_2p.drop_duplicates(subset=["user_masked"])

In [21]:
print("Number of connected user: [df_conn]", df_conn_2p["user_masked"].count())
print("Number of connecterd user: [df_disc]", df_disc_2p["user_masked"].count())

Number of connected user: [df_conn] 14
Number of connecterd user: [df_disc] 15

In [38]:
df_all = df_conn_2p.merge(df_disc_2p.drop_duplicates(), on=['user_masked'], 
                   how='left', indicator=True)

In [45]:
giova = df_all[df_all["_merge"] == "left_only"]["user_masked"].iloc[0]

In [46]:
giova

'a74e472c3aabccfc36c088527061d3b1617d9b922ae75cf9732025e08e31c59c'

In [91]:
df_disc_2 = pd.read_csv('data/01_16_2024_15_50_32_aula2p_17._disc.csv')
df_conn_2 = pd.read_csv('data/01_16_2024_15_48_49_aula2p_17_conn.csv')

df_disc__2_2p = df_disc[df_disc["name_ap"].isin(["AP-AULA2P-01", "AP-AULA2P-02", "AP-AULA2P-03", "AP-AULA2P-04"])].reset_index()
df_conn__2_2p = df_conn[df_conn["name_ap"].isin(["AP-AULA2P-01", "AP-AULA2P-02", "AP-AULA2P-03", "AP-AULA2P-04"])].reset_index()

# df_conn__2_2p = df_conn__2_2p.drop_duplicates(subset=["user_masked"])
# df_disc__2_2p = df_disc__2_2p.drop_duplicates(subset=["user_masked"])

df_all = df_conn__2_2p.merge(df_disc__2_2p.drop_duplicates(), on=['user_masked'], 
                   how='left', indicator=True)

df_all[df_all["_merge"] == "left_only"]

,index_x,MAC_masked_x,user_masked,domain_x,rssi_x,snr_x,byte_rx_x,byte_tx_x,name_ap_x,class_x,index_y,MAC_masked_y,domain_y,rssi_y,snr_y,byte_rx_y,byte_tx_y,name_ap_y,class_y,_merge
6,1592,d7aa1174199824bdd1714a42a057d25e90b2bfafb249ef7fe4840940c2d72609,a74e472c3aabccfc36c088527061d3b1617d9b922ae75cf9732025e08e31c59c,studenti.polito.it,-56.0,35.0,8587.0,10663,AP-AULA2P-03,Student,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [51]:
if giova == giova_2:
    print("Giova found:", giova)
else:
    print("Giova not found :(")

Giova found: a74e472c3aabccfc36c088527061d3b1617d9b922ae75cf9732025e08e31c59c

In [52]:
df_p_1 = pd.read_csv('data/01_16_2024_14_34_aula2p_15.csv')
df_2_p1 = pd.read_csv('data/01_16_2024_14_35_aula2p_15.csv')
df_p_2 = pd.read_csv('data/01_16_2024_14_37_aula2p_15.csv')
df_wall = pd.read_csv('data/01_16_2024_14_38_aula2p_15.csv')

### SNR and RSSI comparison

In [75]:
df_conn[df_conn["user_masked"] == giova][["snr", "rssi", "name_ap", "MAC_masked"]]

,snr,rssi,name_ap,MAC_masked
1592,35.0,-56.0,AP-AULA2P-03,d7aa1174199824bdd1714a42a057d25e90b2bfafb249ef7fe4840940c2d72609

In [67]:
df_conn_2[df_conn_2["user_masked"] == giova][["snr", "rssi", "name_ap"]]

       snr  rssi       name_ap
1575  50.0 -44.0  AP-AULA2P-03

In [68]:
df_p_1[df_p_1["user_masked"] == giova][["snr", "rssi", "name_ap"]]

       snr  rssi       name_ap
1563  48.0 -47.0  AP-AULA2P-03

In [69]:
df_2_p1[df_2_p1["user_masked"] == giova][["snr", "rssi", "name_ap"]]

       snr  rssi       name_ap
1572  53.0 -44.0  AP-AULA2P-03

In [70]:
df_p_2[df_p_2["user_masked"] == giova][["snr", "rssi", "name_ap"]]

       snr  rssi       name_ap
1565  49.0 -46.0  AP-AULA2P-03

In [71]:
df_wall[df_wall["user_masked"] == giova][["snr", "rssi", "name_ap"]]

       snr  rssi       name_ap
1561  49.0 -46.0  AP-AULA2P-03

In [73]:
df_disc_2p["snr"].mean()

38.8125