In [2]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

In [5]:
df_disc = pd.read_csv('data/01_16_2024_14_26_aula2p_16.csv')
df_conn = pd.read_csv('data/01_16_2024_14_34_aula2p_15.csv')

In [6]:
df_disc_2p = df_disc[df_disc["name_ap"].isin(["AP-AULA2P-01", "AP-AULA2P-02", "AP-AULA2P-03", "AP-AULA2P-04"])].reset_index()
df_conn_2p = df_conn[df_conn["name_ap"].isin(["AP-AULA2P-01", "AP-AULA2P-02", "AP-AULA2P-03", "AP-AULA2P-04"])].reset_index()

In [7]:
df_conn_2p = df_conn_2p.drop_duplicates(subset=["user_masked"])
df_disc_2p = df_disc_2p.drop_duplicates(subset=["user_masked"])

In [8]:
print("Number of connected user: [df_conn]", df_conn_2p["user_masked"].count())
print("Number of connecterd user: [df_disc]", df_disc_2p["user_masked"].count())

Number of connected user: [df_conn] 20
Number of connecterd user: [df_disc] 25

In [9]:
df_all = df_conn_2p.merge(df_disc_2p.drop_duplicates(), on=['user_masked'], 
                   how='left', indicator=True)

In [10]:
giova = df_all[df_all["_merge"] == "left_only"]["user_masked"].iloc[0]

In [11]:
giova

'67adb85bd3b55701b19121015cfef6aa26d02600faf0fd1b9a4c42921055c6af'

In [15]:
df_disc_2 = pd.read_csv('data/01_16_2024_15_50_32_aula2p_17._disc.csv')
df_conn_2 = pd.read_csv('data/01_16_2024_15_48_49_aula2p_17_conn.csv')

df_disc__2_2p = df_disc[df_disc["name_ap"].isin(["AP-AULA2P-01", "AP-AULA2P-02", "AP-AULA2P-03", "AP-AULA2P-04"])].reset_index()
df_conn__2_2p = df_conn[df_conn["name_ap"].isin(["AP-AULA2P-01", "AP-AULA2P-02", "AP-AULA2P-03", "AP-AULA2P-04"])].reset_index()

# df_conn__2_2p = df_conn__2_2p.drop_duplicates(subset=["user_masked"])
# df_disc__2_2p = df_disc__2_2p.drop_duplicates(subset=["user_masked"])

df_all = df_conn__2_2p.merge(df_disc__2_2p.drop_duplicates(), on=['user_masked'], 
                   how='left', indicator=True)

df_all[df_all["_merge"] == "left_only"]

,index_x,MAC_masked_x,user_masked,domain_x,rssi_x,snr_x,byte_rx_x,byte_tx_x,name_ap_x,class_x,index_y,MAC_masked_y,domain_y,rssi_y,snr_y,byte_rx_y,byte_tx_y,name_ap_y,class_y,_merge
0,234,16124a0a4105457897feecd9779b7ef08306eccf8985659d0d89ad56a6f9dded,67adb85bd3b55701b19121015cfef6aa26d02600faf0fd1b9a4c42921055c6af,polito.it,-59.0,30.0,1287558.0,130113,AP-AULA2P-01,Staff,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
41,7546,6eee15f5d404402cf3dc7a4bb2c99aefcfc1b6129441d6502de4e93f381efb4e,c31c75f28564230837d6375ca08fd8a9a00293b16f8b0d1ee9a6e170a55ffeff,studenti.polito.it,-54.0,38.0,106288692.0,19740937,AP-AULA2P-01,Student,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
45,7821,d0677b91afa159c0edee27e38db21c4248e67b7544c19cec9597f2c2700f81e2,c31c75f28564230837d6375ca08fd8a9a00293b16f8b0d1ee9a6e170a55ffeff,studenti.polito.it,-62.0,32.0,124136201.0,7363429,AP-AULA2P-02,Student,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
46,8459,c09b070e3627bb29ffa336e5c83ed6d4d67e6cb806f1bf6c9f0761bafa3b2719,4879b2e18d0ebcce0a4db5a31bd888d25dbba5aac7dce452674f49a89b1db701,studenti.polito.it,-53.0,40.0,16123305.0,142370526,AP-AULA2P-01,Student,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [24]:
if giova == giova_2:
    print("Giova found:", giova)
else:
    print("Giova not found :(")

NameError: name 'giova_2' is not defined

In [3]:
df_p_1 = pd.read_csv('data/01_16_2024_14_34_aula2p_15.csv')
df_2_p1 = pd.read_csv('data/01_16_2024_14_35_aula2p_15.csv')
df_p_2 = pd.read_csv('data/01_16_2024_14_37_aula2p_15.csv')
df_wall = pd.read_csv('data/01_16_2024_14_38_aula2p_15.csv')

### SNR and RSSI comparison

In [12]:
giova = "8f0bd0d6b55bb218058ed0423ab453b256f5e29d4d514db165023020d0af74ee"

In [13]:
df_conn[df_conn["user_masked"] == giova][["snr", "rssi", "name_ap", "MAC_masked"]]

,snr,rssi,name_ap,MAC_masked
6267,41.0,-54.0,AP-AULA2P-01,34a9dea164698cb433dcf4b20943976fc133db4c927005ffc340c4ec380fb18d
8888,51.0,-47.0,AP-AULA2P-01,4d242b75accc36ca997d3cac12761a7655588715ead833733fd2611a720e1437

In [22]:
df_conn_2[df_conn_2["user_masked"] == giova][["snr", "rssi", "name_ap", "MAC_masked"]]

,snr,rssi,name_ap,MAC_masked
5675,41.0,-54.0,AP-AULA2P-04,34a9dea164698cb433dcf4b20943976fc133db4c927005ffc340c4ec380fb18d
8058,45.0,-51.0,AP-AULA2P-01,4d242b75accc36ca997d3cac12761a7655588715ead833733fd2611a720e1437

In [23]:
df_p_1[df_p_1["user_masked"] == giova][["snr", "rssi", "name_ap", "MAC_masked"]]

,snr,rssi,name_ap,MAC_masked
6267,41.0,-54.0,AP-AULA2P-01,34a9dea164698cb433dcf4b20943976fc133db4c927005ffc340c4ec380fb18d
8888,51.0,-47.0,AP-AULA2P-01,4d242b75accc36ca997d3cac12761a7655588715ead833733fd2611a720e1437

In [24]:
df_2_p1[df_2_p1["user_masked"] == giova][["snr", "rssi", "name_ap", "MAC_masked"]]

,snr,rssi,name_ap,MAC_masked
6282,41.0,-54.0,AP-AULA2P-01,34a9dea164698cb433dcf4b20943976fc133db4c927005ffc340c4ec380fb18d
8904,51.0,-47.0,AP-AULA2P-01,4d242b75accc36ca997d3cac12761a7655588715ead833733fd2611a720e1437

In [25]:
df_p_2[df_p_2["user_masked"] == giova][["snr", "rssi", "name_ap", "MAC_masked"]]

,snr,rssi,name_ap,MAC_masked
6282,33.0,-57.0,AP-AULA2P-01,34a9dea164698cb433dcf4b20943976fc133db4c927005ffc340c4ec380fb18d
8907,51.0,-47.0,AP-AULA2P-01,4d242b75accc36ca997d3cac12761a7655588715ead833733fd2611a720e1437

In [26]:
df_wall[df_wall["user_masked"] == giova][["snr", "rssi", "name_ap", "MAC_masked"]]

,snr,rssi,name_ap,MAC_masked
6269,53.0,-43.0,AP-AULA2P-01,34a9dea164698cb433dcf4b20943976fc133db4c927005ffc340c4ec380fb18d
8893,51.0,-47.0,AP-AULA2P-01,4d242b75accc36ca997d3cac12761a7655588715ead833733fd2611a720e1437

In [27]:
df_disc_2p["snr"].mean()

30.64