In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

In [87]:
df_1 = pd.read_csv('data/01_16_2024_13_41_aula2p_15.csv')
df_2 = pd.read_csv('data/01_16_2024_13_43_aula2p_15.csv')
df_3 = pd.read_csv('data/01_16_2024_14_25_aula2p_16.csv')
df_4 = pd.read_csv('data/01_16_2024_14_26_aula2p_16.csv')
df_5 = pd.read_csv('data/01_16_2024_14_34_aula2p_15.csv')
df_6 = pd.read_csv('data/01_16_2024_14_35_aula2p_15.csv')
df_7 = pd.read_csv('data/01_16_2024_14_37_aula2p_15.csv')
df_8 = pd.read_csv('data/01_16_2024_14_38_aula2p_15.csv')
df_9 = pd.read_csv('data/01_16_2024_15_48_13_aula2p_17_conn.csv')
df_10 = pd.read_csv('data/01_16_2024_15_48_49_aula2p_17_conn.csv')
df_11 = pd.read_csv('data/01_16_2024_15_50_32_aula2p_17._disc.csv')
df_12 = pd.read_csv('data/01_16_2024_15_51_05_aula2p_17_disc.csv')
df_13 = pd.read_csv('logs/11_01_class12/12__30_75people.csv')
df_14 = pd.read_csv('logs/11_01_class12/12__48_69people.csv')
df_15 = pd.read_csv('logs/01_19_2024_14_51_55_aula3p_22.csv')

In [88]:
df_2p_1 = df_1[df_1["name_ap"].isin(["AP-AULA2P-01", "AP-AULA2P-02", "AP-AULA2P-03", "AP-AULA2P-04"])].reset_index()
df_2p_2 = df_2[df_2["name_ap"].isin(["AP-AULA2P-01", "AP-AULA2P-02", "AP-AULA2P-03", "AP-AULA2P-04"])].reset_index()
df_2p_3 = df_3[df_3["name_ap"].isin(["AP-AULA2P-01", "AP-AULA2P-02", "AP-AULA2P-03", "AP-AULA2P-04"])].reset_index()
df_2p_4 = df_4[df_4["name_ap"].isin(["AP-AULA2P-01", "AP-AULA2P-02", "AP-AULA2P-03", "AP-AULA2P-04"])].reset_index()
df_2p_5 = df_5[df_5["name_ap"].isin(["AP-AULA2P-01", "AP-AULA2P-02", "AP-AULA2P-03", "AP-AULA2P-04"])].reset_index()
df_2p_6 = df_6[df_6["name_ap"].isin(["AP-AULA2P-01", "AP-AULA2P-02", "AP-AULA2P-03", "AP-AULA2P-04"])].reset_index()
df_2p_7 = df_7[df_7["name_ap"].isin(["AP-AULA2P-01", "AP-AULA2P-02", "AP-AULA2P-03", "AP-AULA2P-04"])].reset_index()
df_2p_8 = df_8[df_8["name_ap"].isin(["AP-AULA2P-01", "AP-AULA2P-02", "AP-AULA2P-03", "AP-AULA2P-04"])].reset_index()
df_2p_9 = df_9[df_9["name_ap"].isin(["AP-AULA2P-01", "AP-AULA2P-02", "AP-AULA2P-03", "AP-AULA2P-04"])].reset_index()
df_2p_10 = df_10[df_10["name_ap"].isin(["AP-AULA2P-01", "AP-AULA2P-02", "AP-AULA2P-03", "AP-AULA2P-04"])].reset_index()
df_2p_11 = df_11[df_11["name_ap"].isin(["AP-AULA2P-01", "AP-AULA2P-02", "AP-AULA2P-03", "AP-AULA2P-04"])].reset_index()
df_2p_12 = df_12[df_12["name_ap"].isin(["AP-AULA2P-01", "AP-AULA2P-02", "AP-AULA2P-03", "AP-AULA2P-04"])].reset_index()
df_2p_13 = df_13[df_13["name_ap"].isin(["AP-AULA12-01", "AP-AULA12-02", "AP-AULA12-03"])].reset_index()
df_2p_14 = df_14[df_14["name_ap"].isin(["AP-AULA12-01", "AP-AULA12-02", "AP-AULA12-03"])].reset_index()
df_2p_15 = df_15[df_15["name_ap"].isin(["AP-AULA3P-01", "AP-AULA3P-02", "AP-AULA3P-03", "AP-AULA3P-04"])].reset_index()

In [89]:
df_2p_1 = df_2p_1.drop_duplicates(subset=["user_masked"])
df_2p_2 = df_2p_2.drop_duplicates(subset=["user_masked"])
df_2p_3 = df_2p_3.drop_duplicates(subset=["user_masked"])
df_2p_4 = df_2p_4.drop_duplicates(subset=["user_masked"])
df_2p_5 = df_2p_5.drop_duplicates(subset=["user_masked"])
df_2p_6 = df_2p_6.drop_duplicates(subset=["user_masked"])
df_2p_7 = df_2p_7.drop_duplicates(subset=["user_masked"])
df_2p_8 = df_2p_8.drop_duplicates(subset=["user_masked"])
df_2p_9 = df_2p_9.drop_duplicates(subset=["user_masked"])
df_2p_10 = df_2p_10.drop_duplicates(subset=["user_masked"])
df_2p_11 = df_2p_11.drop_duplicates(subset=["user_masked"])
df_2p_12 = df_2p_12.drop_duplicates(subset=["user_masked"])
df_2p_13 = df_2p_13.drop_duplicates(subset=["user_masked"])
df_2p_14 = df_2p_14.drop_duplicates(subset=["user_masked"])
df_2p_15 = df_2p_15.drop_duplicates(subset=["user_masked"])

In [90]:
x = 20
df_2p_1 = df_2p_1[df_2p_1['snr']>x]
df_2p_2 = df_2p_2[df_2p_2['snr']>x]
df_2p_3 = df_2p_3[df_2p_3['snr']>x]
df_2p_4 = df_2p_4[df_2p_4['snr']>x]
df_2p_5 = df_2p_5[df_2p_5['snr']>x]
df_2p_6 = df_2p_6[df_2p_6['snr']>x]
df_2p_7 = df_2p_7[df_2p_7['snr']>x]
df_2p_8 = df_2p_8[df_2p_8['snr']>x]
df_2p_9 = df_2p_9[df_2p_9['snr']>x]
df_2p_10 = df_2p_10[df_2p_10['snr']>x]
df_2p_11 = df_2p_11[df_2p_11['snr']>x]
df_2p_12 = df_2p_12[df_2p_12['snr']>x]
df_2p_13 = df_2p_13[df_2p_13['snr']>x]
df_2p_14 = df_2p_14[df_2p_14['snr']>x]
df_2p_15 = df_2p_15[df_2p_15['snr']>x]

In [91]:
df_2p_1 = df_2p_1[df_2p_1['class'] != 'Unknown']
df_2p_2 = df_2p_2[df_2p_2['class'] != 'Unknown']
df_2p_3 = df_2p_3[df_2p_3['class'] != 'Unknown']
df_2p_4 = df_2p_4[df_2p_4['class'] != 'Unknown']
df_2p_5 = df_2p_5[df_2p_5['class'] != 'Unknown']
df_2p_6 = df_2p_6[df_2p_6['class'] != 'Unknown']
df_2p_7 = df_2p_7[df_2p_7['class'] != 'Unknown']
df_2p_8 = df_2p_8[df_2p_8['class'] != 'Unknown']
df_2p_9 = df_2p_9[df_2p_9['class'] != 'Unknown']
df_2p_10 = df_2p_10[df_2p_10['class'] != 'Unknown']
df_2p_11 = df_2p_11[df_2p_11['class'] != 'Unknown']
df_2p_12 = df_2p_12[df_2p_12['class'] != 'Unknown']
df_2p_13 = df_2p_13[df_2p_13['class'] != 'Unknown']
df_2p_14 = df_2p_14[df_2p_14['class'] != 'Unknown']
df_2p_15 = df_2p_15[df_2p_15['class'] != 'Unknown']

In [92]:
print(f"Number SNMP: {df_2p_1['MAC_masked'].count() } Number GT: 15")
print(f"Number SNMP: {df_2p_2['MAC_masked'].count()} Number GT: 15")
print(f"Number SNMP: {df_2p_3['MAC_masked'].count()} Number GT: 16")
print(f"Number SNMP: {df_2p_4['MAC_masked'].count()} Number GT: 16")
print(f"Number SNMP: {df_2p_5['MAC_masked'].count()} Number GT: 15")
print(f"Number SNMP: {df_2p_6['MAC_masked'].count()} Number GT: 15")
print(f"Number SNMP: {df_2p_7['MAC_masked'].count()} Number GT: 15")
print(f"Number SNMP: {df_2p_8['MAC_masked'].count()} Number GT: 15")
print(f"Number SNMP: {df_2p_9['MAC_masked'].count()} Number GT: 17")
print(f"Number SNMP: {df_2p_10['MAC_masked'].count()} Number GT: 17")
print(f"Number SNMP: {df_2p_11['MAC_masked'].count()} Number GT: 17")
print(f"Number SNMP: {df_2p_12['MAC_masked'].count()} Number GT: 17")
print(f"Number SNMP: {df_2p_13['MAC_masked'].count()} Number GT: 75")
print(f"Number SNMP: {df_2p_14['MAC_masked'].count()} Number GT: 69")
print(f"Number SNMP: {df_2p_15['MAC_masked'].count()} Number GT: 22")

Number SNMP: 12 Number GT: 15
Number SNMP: 13 Number GT: 15
Number SNMP: 14 Number GT: 16
Number SNMP: 13 Number GT: 16
Number SNMP: 15 Number GT: 15
Number SNMP: 14 Number GT: 15
Number SNMP: 12 Number GT: 15
Number SNMP: 14 Number GT: 15
Number SNMP: 16 Number GT: 17
Number SNMP: 16 Number GT: 17
Number SNMP: 15 Number GT: 17
Number SNMP: 15 Number GT: 17
Number SNMP: 48 Number GT: 75
Number SNMP: 41 Number GT: 69
Number SNMP: 24 Number GT: 22

In [68]:
df_all = df_conn_2p.merge(df_disc_2p.drop_duplicates(), on=['user_masked'], 
                   how='left', indicator=True)

In [45]:
giova = df_all[df_all["_merge"] == "left_only"]["user_masked"].iloc[0]

In [46]:
giova

'a74e472c3aabccfc36c088527061d3b1617d9b922ae75cf9732025e08e31c59c'

In [91]:
df_disc_2 = pd.read_csv('data/01_16_2024_15_50_32_aula2p_17._disc.csv')
df_conn_2 = pd.read_csv('data/01_16_2024_15_48_49_aula2p_17_conn.csv')

df_disc__2_2p = df_disc[df_disc["name_ap"].isin(["AP-AULA2P-01", "AP-AULA2P-02", "AP-AULA2P-03", "AP-AULA2P-04"])].reset_index()
df_conn__2_2p = df_conn[df_conn["name_ap"].isin(["AP-AULA2P-01", "AP-AULA2P-02", "AP-AULA2P-03", "AP-AULA2P-04"])].reset_index()

# df_conn__2_2p = df_conn__2_2p.drop_duplicates(subset=["user_masked"])
# df_disc__2_2p = df_disc__2_2p.drop_duplicates(subset=["user_masked"])

df_all = df_conn__2_2p.merge(df_disc__2_2p.drop_duplicates(), on=['user_masked'], 
                   how='left', indicator=True)

df_all[df_all["_merge"] == "left_only"]

,index_x,MAC_masked_x,user_masked,domain_x,rssi_x,snr_x,byte_rx_x,byte_tx_x,name_ap_x,class_x,index_y,MAC_masked_y,domain_y,rssi_y,snr_y,byte_rx_y,byte_tx_y,name_ap_y,class_y,_merge
6,1592,d7aa1174199824bdd1714a42a057d25e90b2bfafb249ef7fe4840940c2d72609,a74e472c3aabccfc36c088527061d3b1617d9b922ae75cf9732025e08e31c59c,studenti.polito.it,-56.0,35.0,8587.0,10663,AP-AULA2P-03,Student,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [51]:
if giova == giova_2:
    print("Giova found:", giova)
else:
    print("Giova not found :(")

Giova found: a74e472c3aabccfc36c088527061d3b1617d9b922ae75cf9732025e08e31c59c

In [52]:
df_p_1 = pd.read_csv('data/01_16_2024_14_34_aula2p_15.csv')
df_2_p1 = pd.read_csv('data/01_16_2024_14_35_aula2p_15.csv')
df_p_2 = pd.read_csv('data/01_16_2024_14_37_aula2p_15.csv')
df_wall = pd.read_csv('data/01_16_2024_14_38_aula2p_15.csv')

### SNR and RSSI comparison

In [75]:
df_conn[df_conn["user_masked"] == giova][["snr", "rssi", "name_ap", "MAC_masked"]]

,snr,rssi,name_ap,MAC_masked
1592,35.0,-56.0,AP-AULA2P-03,d7aa1174199824bdd1714a42a057d25e90b2bfafb249ef7fe4840940c2d72609

In [67]:
df_conn_2[df_conn_2["user_masked"] == giova][["snr", "rssi", "name_ap"]]

       snr  rssi       name_ap
1575  50.0 -44.0  AP-AULA2P-03

In [68]:
df_p_1[df_p_1["user_masked"] == giova][["snr", "rssi", "name_ap"]]

       snr  rssi       name_ap
1563  48.0 -47.0  AP-AULA2P-03

In [69]:
df_2_p1[df_2_p1["user_masked"] == giova][["snr", "rssi", "name_ap"]]

       snr  rssi       name_ap
1572  53.0 -44.0  AP-AULA2P-03

In [70]:
df_p_2[df_p_2["user_masked"] == giova][["snr", "rssi", "name_ap"]]

       snr  rssi       name_ap
1565  49.0 -46.0  AP-AULA2P-03

In [71]:
df_wall[df_wall["user_masked"] == giova][["snr", "rssi", "name_ap"]]

       snr  rssi       name_ap
1561  49.0 -46.0  AP-AULA2P-03

In [73]:
df_disc_2p["snr"].mean()

38.8125